.button,
button,
input[type='reset'],
input[type='submit'],
input[type='button'] {
  background: #6a8ebd;
  border: 1px solid rgba(0, 66, 99, 0.7);
  color: #ffffff !important;
  border-radius: 4px;
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px #2c4362;
  -webkit-transition: background-color, 0.2s linear;
  -moz-transition: background-color, 0.2s linear;
  -o-transition: background-color, 0.2s linear;
  transition: background-color, 0.2s linear; }

.button:hover,
button:hover,
input[type='reset']:hover,
input[type='submit']:hover,
input[type='button']:hover {
  box-shadow: rgba(44, 44, 44, 0.8) -1px 3px 5px -1px;
  border: 1px solid rgba(0, 66, 99, 0.7);
  background: #5881b5; }

.button:focus,
button:focus,
input[type='reset']:focus,
input[type='submit']:focus,
input[type='button']:focus {
  box-shadow: rgba(44, 44, 44, 0.8) -1px 3px 5px -1px;
  border: 1px solid rgba(0, 66, 99, 0.7);
  background: #5881b5; }

a.button {
  text-decoration: none;
  text-shadow: none; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

.appbrand {
  color: magenta;
  font-weight: bold; }
  .appbrand a {
    text-decoration: none;
    color: magenta !important; }
    .appbrand a:hover {
      border: none; }

a.appbrand {
  text-decoration: none;
  color: magenta !important; }
  a.appbrand:hover {
    border: none; }

a .appbrand {
  text-decoration: none;
  color: magenta !important; }
  a .appbrand:hover {
    border: none; }

body {
  background: white;
  color: #180d0d;
  font-family: sans-serif;
  font-size: 16px; }

/*Headings*/
h1, h2, h3, h4, h5, h6 {
  font-family: serif; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 10px; }

/*Lists*/
ul li {
  list-style-type: none;
  word-wrap: break-word; }

/*links*/
a {
  color: #48a3ff;
  text-decoration: none !important; }
  a:link {
    color: #1589ff; }
  a:visited {
    color: #1589ff; }
  a:focus {
    color: #62b0ff; }
  a:hover {
    color: #62b0ff;
    border-bottom: 1px solid magenta; }
  a:active {
    color: #62b0ff; }

/* tables */
/*header*/
.header,
header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 1%;
  padding-left: 1%;
  min-height: 100px; }

/*footer*/
.footer,
footer {
  border-top: 1px solid #efefef;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: small; }

/*forms*/
input::placeholder {
  color: magenta; }

textarea,
input {
  outline: none;
  font-size: 15px;
  padding: 5px;
  border: 1px solid magenta;
  border-radius: 4px; }

textarea {
  resize: none; }

input:focus {
  border: 1px solid #e600e6; }

/* Handy classes */
.inline-block {
  display: inline-block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.no-float {
  float: none;
  clear: both; }

.fixed {
  position: fixed; }

.hide {
  display: none; }

/*Custom*/
.menu {
  width: fit-content; }
  .menu li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px; }
    .menu li ul {
      display: block; }
  .menu li ~ li::before {
    content: "/"; }

.list {
  width: fit-content; }
  .list li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px; }
  .list li ~ li {
    border-top: 1px solid #c9c9c9; }

.banner {
  width: 100%;
  background: #3a3939;
  border-bottom: 2px solid black;
  min-height: 100px;
  padding: 5px; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #b66060; }
  .navbar * {
    display: inline-block;
    margin-top: 4px; }
  .navbar:first-child {
    padding-left: 20px; }

.tooltip {
  width: 25%;
  max-height: 200px;
  overflow-y: scroll;
  background: #333333;
  border: 1px solid #000;
  border-radius: 0;
  color: white;
  font-size: 14px;
  padding: 4px 10px;
  z-index: 3000; }

.mark,
mark {
  width: fit-content;
  background: magenta; }

/*Even though the code is the same they must be written separately.
For some reason using a comma to extend the code for both does not work for these selectors.*/
::selection {
  background: magenta;
  text-shadow: none;
  color: #ffffff; }

::-moz-selection {
  background: magenta;
  text-shadow: none;
  color: #ffffff; }

/*Make the children of an element aligned horizontally*/
.alignChildrenHorizontally * {
  display: inline-block; }

.search input {
  border-radius: 0px; }

.search input[type="reset"],
.search input[type="submit"],
.search input[type='button'],
.search button {
  border-radius: 0px;
  margin: -5px; }

.box {
  padding: 1%;
  margin-bottom: 1%; }

.mg-form-group {
  margin: 1%; }
  .mg-form-group label {
    color: #421d1d;
    font-weight: normal;
    width: 8em; }

.bold {
  font-weight: bold; }

.tab {
  padding-left: 55px; }

.box-shadow-inset {
  padding: 1%;
  margin-bottom: 1%;
  box-shadow: inset 0 4px 4px #efefef; }

.display-table {
  display: table;
  width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.vertical-align {
  display: table-cell;
  vertical-align: middle; }

.highlight {
  outline: 2px solid magenta !important;
  box-shadow: 2px 2px 3px magenta; }

.magenta {
  color: magenta; }

.light {
  opacity: .6; }

.red {
  color: red; }

.green {
  color: green; }

.blue {
  color: blue; }

.black {
  color: black; }

.light-black-small {
  color: #676767;
  font-size: 12px; }
  .light-black-small a {
    color: #676767; }

.xsm-text {
  font-size: 10px; }

.sm-text {
  font-size: 12px; }

.md-text {
  font-size: 17px; }

.lg-text {
  font-size: 30px; }

.xlg-text {
  font-size: 40px; }
